.rating  {
    width:60px;
    height: 30px;
    background-color: #038D63;
    color:white;
    padding-top: 7px;
    padding-left: 12px;
    border-radius: 20px;
}
.discountprice {
    color: rgb(153, 153, 153);
    text-decoration-line: line-through;
    font-weight: 400;
    font-size: 16px;
}
.discount {
    color: #038D63;
    font-size: 16px;
    font-weight: 600;
}
.free {
    width:100px;
    height: 30px;
    border-radius:10px;
    background-color: #F9F9F9;
}
.amount {
    display:flex;
    padding: 1rem;
    gap: 2rem;
}
.card {
    width: 320px;
    height:520px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.cardimg {
    width: 320px;
    height: 310px;
    border-radius: 5px;
}
.tbox {
    padding:1rem;
    justify-content:center;
    gap: 10px;
    text-align:left;
}
.container {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: auto;
}
.actualprice {
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

}
.title {
    color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}