/* *, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */
.sign_up{
    min-height: 150vh;
     /* min-width: fit-content;  */
    /* margin: auto; */
    justify-content: center;
    padding-top: 100px;
    background: linear-gradient(rgb(253, 233, 242) 0%, rgb(253, 240, 232) 100%, rgb(253, 240, 232) 100%);
   
}
.signup_page{
    background-color: white;
    width: 30%;
    height: 100%;
    min-width: 433px;
    margin:auto;
    /* position: relative; */
}
.sign_up_img{
    height: 200px;
    width: 100%;
    border-style: none;
     /* min-width: 433px;  */
    /* margin-top: 5%; */
    border-radius: 3%;
}
.sign_up_profile{
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    font-family: "Mier bold";
    margin: 8% 0% 4% 0%;
    width: 100%;
    padding: 0px;
 
}
.country_code{
    color: rgb(153, 153, 153);
    font-style: normal;
    float: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: "Mier book";
    margin-top:20px; 
    margin-left:80px; 

}
.Phone_number{
    margin-left:80px;
    margin-right:30px;
    font-weight: 600;
    width: fit-content;
}
.numberField{
    font-size: 1.15rem;
    width: 50%;
    border: 0;
    text-align: left;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    position: left;
    left: 0;
}
.otp{
    cursor: "pointer";
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: rgb(244, 51, 151);
    border: none;
    padding: 12px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
}
.otp_input{
    cursor: text;
    border-color: "blue";
    /* margin-top: 50px; */
    margin:40px 5px;
    height: 40px;
    width: 30px;
    font-size: 18px;
    text-align: center;
}
.number{
display: flex;
width: 100%;
align-items: center;
}
.standard-basic{
 background-color: rgb(244, 51, 151);
 
}
@media (max-width:434px) {
    .sign_up_img{
        width:fit-content; 
        
    } 
    .sign_up{
        width:fit-content;
    }
}
 
@media (max-width:1000px) {
    .sign_up_img{
        width:fit-content; 
        
    } 
    .sign_up{
        width:fit-content;
    }
}