.Main_Header{
    position: fixed;
    top:0px;
    width:100%;
    color: grey;
    overflow: hidden;
}
.header_conatainer{
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: row;
}

.header_logo > img{
    height: 90px;

}
.Search_Input{
    position: relative;
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    align-items: center ;
    /* padding: 0.5rem 0px 0px 0px; */
    margin:1rem 0rem 0rem 0rem;
}
.search_input{
    font-size: 16px;
    width: 350px;
    border: 0px;
}
.url {
    width:350px;
    height:450px;
    margin-Top:-180px;
    margin-Left:180px;
    position:absolute;
    background-color:#FFFFFF;
    border:0.2px solid #F9F9F9;
    position: fixed;
}
.icon{
    left: 5px;
    margin-right: 10px;
    position: relative;
}
.upper{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.cards_container{
    position: relative;
    height: 100%;
    margin-left: 250px;
    gap: 1rem;
    display: flex;
    gap: 1rem;
    flex: 6 1 0%;
    align-items: center;
    font-size: 18px;
}
p {
    margin: 0px;
}
.cards{
    align-items: center;
    display: flex;

}
.dividerLines{
    margin-top: 20px;
    width: 100%;
    height:1px ;
    background-color: lightgray;
}
.dropdownContent{
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 200px;
    padding: 0px 20px;
    position: absolute;
    display: none;
}
.profile{
    display: inline-block;
}
.profileContent{ 
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    /* margin-top: 200px; */
    width: 250px;
    padding-left:15px ;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 65px;
    display: none;
    /* align-self: center; */

}
.profileCard{
    display: inline;

}
.profileCard:hover .profileContent{
    color: gray;
    display: block;
}
.profileCard:hover .profile{
    color: #f43397;
}
.downloadCard{
    display: inline;
}
.downloadCard:hover .cards{color: #f43397;}
 .downloadCard:hover .dropdownContent{color:black;display:block;}

.links{
    display: flex;
    /* flex-direction: row; */
    gap: 1.5rem;
    
    justify-content: center;
}
.res {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
}
.rest {
    width:250px;
    font-size: 18px;
    text-align: left;
    color: rgb(102, 102, 102);
}